@import 'common/function';

.verify-account {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: to-rem(150);

  &__thumbnail {
    max-width: to-rem(120);

    img {
      width: 100%;
      height: auto;
    }
  }
}
