@import 'common/function';

.form-control-item {
  width: 100%;

  &__error {
    height: calc-rem(18);
    color: theme('colors.error');
  }

  &__box-error {
    > *:nth-child(1) {
      border: calc-rem(1) solid theme('colors.error');
    }
  }
}
